@model TrashPickupWebApplication.Models.RegisterViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Dashboard</h2>
<body>
<ul>
    <li>@Html.ActionLink("View My Services", "ViewMyServices", "MyServices")</li>
    <br />
    <li>@Html.ActionLink("Change My Info", "ChangeMyInfo", "MyServices")</li>
    <br/>
    <li>@Html.ActionLink("Change My Payment Info", "ChangeMyPaymentInfo", "MyServices")</li>
</ul>
</body>

