@model TrashPickupWebApplication.Models.RegisterViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Dashboard</h2>

@Html.ActionLink("Change My Info", "ChangeMyInfo", "MyServices") ]
@Html.ActionLink("Change My Services", "ChangeMyServices", "MyServices") ]
@Html.ActionLink("Change My Payment Info", "ChangeMyPaymentInfo", "MyServices") ]



