@model TrashPickupWebApplication.Models.RegisterViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Dashboard</h2>

@Html.ActionLink("Change My Info", "ChnageMyInfo", "MyServices") ]
@Html.ActionLink("Change My Services", "ChnageMyServices", "MyServices") ]
@Html.ActionLink("Change My Payment Info", "ChnageMyPaymentInfo", "MyServices") ]



