@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Garbagetown USA</h1>
    <p class="lead">The best garbage service in the country - Created by Grant Smith & Sean O'Brien</p>
</div>

