@{
    ViewBag.Title = "Services";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Services</h2>

<body>
    <ul>
        <li>Trash Pickup</li>
        <br />
        <li>Recycle Pickup</li>
    </ul>
</body>